<div class="main-content-container background-color-container">
  <div class="tournament-wrapper">
    <div *ngIf="currentUser.nickName === null" class="tournament-title-container">
      <span> Tervetuloa {{ currentUser.firstName }} {{ currentUser.lastName }} </span>
      <mat-icon (click)="openDialog()" class="edit-icon clickable" title="Vaihda nimesi">edit</mat-icon>
    </div>
    <div *ngIf="currentUser.nickName !== null" class="tournament-title-container">
      Tervetuloa {{ currentUser.nickName }}!
      <mat-icon (click)="openDialog()" class="edit-icon clickable" title="Vaihda nimesi">edit</mat-icon>
    </div>
    <button
      *ngIf="currentUser.email === 'aapo.kallio@gmail.com' || currentUser.email === 'makinenvi@gmail.com'"
      [routerLink]="['admin-view']"
      class="secondary-container clickable button"
      mat-raised-button>
      Admin paneeli
    </button>
    <ng-container *ngIf="group$ | async as usersGroups">
      <div class="title" *ngIf="usersGroups.length > 0"> Turnaukset joihin kuulut</div>
      <div class="tournament-container">
        <div
          (click)="navigatoToGroup(group.groupId)"
          *ngFor="let group of usersGroups"
          class="clickable primary-container tournament-box">
          {{ group.groupName }}
        </div>
      </div>
    </ng-container>
  </div>
  <div class="join-create-container">
    <div class="join-container-with-message">
      <div class="join-container">
        <mat-form-field appearance="outline" class="input-container" subscriptSizing="dynamic">
          <input [(ngModel)]="code" autocomplete="off" matInput placeholder="Liity koodilla"/>
        </mat-form-field>
        <button (click)="tryJoiningGroup()" class="clickable secondary-container button" mat-flat-button>
          <mat-icon>arrow_right_alt</mat-icon>
        </button>
      </div>
      <div class="fail-message">{{ failMessage }}</div>
    </div>
    <span class="create-container">
      <button class="clickable button secondary-container" mat-raised-button
              routerLink="create-group">Luo uusi ryhmä</button>
    </span>
  </div>
</div>
