<div class="main-content-container">
  <div class="tournament-title-container">Turnauksesi</div>
  <div class="tournament-container">
    <ng-container *ngIf="group$ | async as usersGroups">
      <div *ngFor="let group of usersGroups">
        <button class="clickable tournament-box" mat-raised-button>{{ group.groupName }}</button>
      </div>
    </ng-container>
  </div>
  <div class="join-create-container">
    <span class="join-container">
      <mat-form-field appearance="outline" class="input-container"><input [(ngModel)]="code" autocomplete="off" matInput
                                                                          placeholder="Anna ryhmän koodi"/></mat-form-field>
      <button (click)="tryJoiningGroup()" class="clickable button" mat-raised-button>Liity ryhmään</button>
      <div class="fail-message">{{ failMessage }}</div> </span
    ><span class="create-container">
      <button class="clickable button" mat-raised-button routerLink="create-group">Luo uusi ryhmä</button>
    </span>
  </div>
</div>
