<ng-container *ngIf="tournament !== null">
  <div #mainContent class="main-content-container background-color-container">
    <div class="title-container">
      {{ tournament.name }}
    </div>
    <mat-stepper class="background-color-container">
      <mat-step label="1X2">
        <div class="button-container">
          <span>
            <button [routerLink]="['../']" class="clickable button primary-container" mat-raised-button>
              <mat-icon>arrow_left</mat-icon>
              Etusivu
            </button>
          </span>
          <span class="button-container">
            <button class="clickable button primary-container" mat-raised-button matStepperNext>
              Muut
              <mat-icon>arrow_right</mat-icon>
            </button>
          </span>
        </div>
        <div class="tab-group">
          <mat-tab-group style="min-height: 410px" [animationDuration]="'0'">
            <mat-tab *ngFor="let group of tournament.groups" [label]="group.name">
              <div class="group-title">Lohko {{ group.name }}</div>
              <div class="tab-container">
                <div class="match-container">
                  <div *ngFor="let match of group.matches" class="match-row">
                    <span class="teams">
                      <img
                        [src]="'assets/images/4x3/' + fetchFlag(match.home) + '.svg'"
                        alt="home team flag"
                        class="flag-image" />
                      <span class="match-up">{{ match.home }} - {{ match.away }}</span>
                      <img
                        [src]="'assets/images/4x3/' + fetchFlag(match.away) + '.svg'"
                        alt="away team flag"
                        class="flag-image" />
                    </span>
                    <div>
                      <mat-button-toggle-group
                        hideSingleSelectionIndicator
                        (change)="savePrediction(match.id, $event.value)"
                        [disabled]="arePredictionsLocked()"
                        [value]="isSelected(match.id)">
                        <mat-button-toggle [style.background-color]="arePredictionsCorrect(match.id, '1')" value="1">
                          <div
                            [class.show]="tournament.startingDate.getTime() < now.getTime()"
                            class="predicted-percent">
                            {{ getMatchPrediction('1', match.id) | percent }}
                          </div>
                          1
                        </mat-button-toggle>
                        <mat-button-toggle [style.background-color]="arePredictionsCorrect(match.id, 'X')" value="X">
                          <div
                            [class.show]="tournament.startingDate.getTime() < now.getTime()"
                            class="predicted-percent">
                            {{ getMatchPrediction('X', match.id) | percent }}
                          </div>
                          X
                        </mat-button-toggle>
                        <mat-button-toggle [style.background-color]="arePredictionsCorrect(match.id, '2')" value="2">
                          <div
                            [class.show]="tournament.startingDate.getTime() < now.getTime()"
                            class="predicted-percent">
                            {{ getMatchPrediction('2', match.id) | percent }}
                          </div>
                          2
                        </mat-button-toggle>
                      </mat-button-toggle-group>
                    </div>
                  </div>
                </div>
                <div class="divider"></div>
                <div class="group-container">
                  <div class="group-prediction-title">Lohkotilanne veikkauksiesi mukaan</div>
                  <div class="group-content-container">
                    <div class="group-title-container primary-container">
                      <span class="text-margin">Joukkue</span><span class="text-margin">Pisteet</span>
                    </div>
                    <div *ngFor="let team of group.teams" class="group-row">
                      <span class="row-box">
                        <img
                          [src]="'assets/images/4x3/' + fetchFlag(team.name) + '.svg'"
                          alt="away team flag"
                          class="flag-image" />
                        {{ team.name }}</span
                      >
                      <span class="row-box">{{ team.predictedPoints }}</span>
                    </div>
                  </div>
                </div>
              </div>
            </mat-tab>
          </mat-tab-group>
        </div>
      </mat-step>
      <mat-step label="Muut">
        <div class="button-container">
          <button class="clickable primary-container" mat-raised-button matStepperPrevious>
            <mat-icon>arrow_left</mat-icon>
            1X2
          </button>
          <ng-container *ngIf="!arePredictionsLocked()">
            <button class="clickable primary-container" mat-raised-button matStepperNext>
              Tallennus
              <mat-icon>arrow_right</mat-icon>
            </button>
          </ng-container>
        </div>
        <div class="other-predictions-container">
          <div class="head-to-head-container">
            <div class="head-to-head-title">Kumpi vai Kampi</div>
            <div *ngFor="let matchUp of tournament.extraPredictions.headToHead; let i = index">
              <mat-button-toggle-group
                class="head-to-head-row"
                (change)="saveHeadToHeadPrediction($event.value, i)"
                [disabled]="arePredictionsLocked()"
                [value]="isSelectedH2H(i)"
                hideSingleSelectionIndicator>
                <mat-button-toggle
                  [style.background-color]="areHeadToHeadPredictionsCorrect(i, matchUp.contestants[0])"
                  [value]="matchUp.contestants[0]"
                  class="toggle-button">
                  <span>
                    {{ matchUp.contestants[0] }}
                  </span>
                  <div [class.show]="tournament.startingDate.getTime() < now.getTime()" class="predicted-percent">
                    {{ calculateH2HPredictionPercentages(i, 'left') | percent }}
                  </div>
                </mat-button-toggle>
                <div class="question-container">{{ getMatchUpType(matchUp) }}</div>
                <mat-button-toggle
                  [style.background-color]="areHeadToHeadPredictionsCorrect(i, matchUp.contestants[1])"
                  [value]="matchUp.contestants[1]"
                  class="toggle-button">
                  <span>
                    {{ matchUp.contestants[1] }}
                  </span>
                  <div [class.show]="tournament.startingDate.getTime() < now.getTime()" class="predicted-percent">
                    {{ calculateH2HPredictionPercentages(i, 'right') | percent }}
                  </div>
                </mat-button-toggle>
              </mat-button-toggle-group>
            </div>
          </div>
          <div class="slider-container">
            <span class="slider-title">Turnauksen nopein maali</span>
            <mat-slider
              [displayWith]="formatLabelMatch"
              class="slider {{ arePredictionsLocked() ? 'locked' : '' }}"
              discrete
              max="6"
              min="0"
              showTickMarks
              step="1">
              <input [(ngModel)]="userPredictions.extraPredictions.fastestGoal" matSliderThumb/>
            </mat-slider>
            <span *ngIf="tournament.extraPredictions.fastestGoal !== null" class="slider-check-container">
              <span
                *ngIf="tournament.extraPredictions.fastestGoal !== userPredictions.extraPredictions.fastestGoal"
                class="wrong">
                <mat-icon>close</mat-icon> Oikea vastaus
                {{ formatLabelMatch(tournament.extraPredictions.fastestGoal) }} <br/>
                <ng-container *ngIf="userPredictions.extraPredictions.fastestGoal">
                  Sinun arvauksesi {{ formatLabelMatch(userPredictions.extraPredictions.fastestGoal) }}
                </ng-container>
              </span>
              <span
                *ngIf="tournament.extraPredictions.fastestGoal === userPredictions.extraPredictions.fastestGoal"
                class="right">
                <mat-icon> done </mat-icon>
              </span>
            </span>
            <span
              *ngIf="tournament.extraPredictions.fastestGoal === null && arePredictionsLocked()"
              class="slider-check-container">
              Sinun arvauksesi {{ formatLabelMatch(userPredictions.extraPredictions.fastestGoal!) }}
            </span>
          </div>
          <div class="slider-container">
            <div class="slider-title">Turnauksen isomaalisin ottelu</div>
            <mat-slider
              [displayWith]="formatLabelScore"
              class="slider {{ arePredictionsLocked() ? 'locked' : '' }}"
              discrete
              max="12"
              min="2"
              showTickMarks
              step="2">
              <input [(ngModel)]="userPredictions.extraPredictions.highestScoring" matSliderThumb/>
            </mat-slider>
            <span *ngIf="tournament.extraPredictions.highestScoring !== null" class="slider-check-container">
              <span
                *ngIf="tournament.extraPredictions.highestScoring !== userPredictions.extraPredictions.highestScoring"
                class="wrong">
                <mat-icon>close</mat-icon>
                Oikea vastaus
                {{ formatLabelScore(tournament.extraPredictions.highestScoring) }} <br/>
                <ng-container
                  *ngIf="
                    userPredictions.extraPredictions.highestScoring &&
                    userPredictions.extraPredictions.highestScoring !== 2
                  ">
                  Sinun arvauksesi {{ formatLabelScore(userPredictions.extraPredictions.highestScoring) }}
                </ng-container>
              </span>
              <span
                *ngIf="tournament.extraPredictions.highestScoring === userPredictions.extraPredictions.highestScoring"
                class="right">
                <mat-icon> done </mat-icon>
              </span>
            </span>
            <span
              *ngIf="tournament.extraPredictions.highestScoring === null && arePredictionsLocked()"
              class="slider-check-container">
              Sinun arvauksesi {{ formatLabelScore(userPredictions.extraPredictions.highestScoring!) }}
            </span>
          </div>
          <div class="button-info-container">
            <mat-form-field appearance="outline">
              <mat-label>Eniten varoituksia</mat-label>
              <mat-select [(ngModel)]="userPredictions.extraPredictions.mostCards" [disabled]="arePredictionsLocked()">
                <mat-option *ngFor="let team of teams" [value]="team.name">
                  {{ team.name }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <span
              class="info-button clickable"
              (click)="
                openCustomDialog(
                  '<div>Veikkaa <u>lohkovaiheessa</u> eniten kortteja (keltaiset + punaiset) kerännyttä joukkuetta</div>'
                )
              ">
              <mat-icon class="button"> info </mat-icon>
            </span>
            <span *ngIf="tournament.extraPredictions.mostCards" class="wrong-right-container">
              <span
                *ngIf="tournament.extraPredictions.mostCards === userPredictions.extraPredictions.mostCards"
                class="right">
                <mat-icon> done </mat-icon>
              </span>
              <span
                *ngIf="userPredictions.extraPredictions.mostCards !== tournament.extraPredictions.mostCards"
                class="wrong">
                <mat-icon>close</mat-icon>
                Oikea vastaus {{ tournament.extraPredictions.mostCards }}
              </span>
            </span>
          </div>
          <div>
            <div class="button-info-container">
              <mat-form-field appearance="outline">
                <mat-label>Eniten maaleja</mat-label>
                <mat-select
                  [(ngModel)]="userPredictions.extraPredictions.mostGoals"
                  [disabled]="arePredictionsLocked()">
                  <mat-option *ngFor="let team of teams" [value]="team.name">
                    {{ team.name }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <span
                class="info-button clickable"
                (click)="
                  openCustomDialog('<div>Veikkaa <u>lohkovaiheessa</u> eniten maaleja tehnyttä joukkuetta</div>')
                ">
                <mat-icon class="button"> info </mat-icon>
              </span>
              <span *ngIf="tournament.extraPredictions.mostGoals" class="wrong-right-container">
                <span
                  *ngIf="
                    userPredictions.extraPredictions.mostGoals === 'to_be_inserted' ||
                    userPredictions.extraPredictions.mostGoals === 'to_be_inserted'
                  "
                  class="right">
                  <mat-icon> done </mat-icon>
                </span>
                <span
                  *ngIf="
                    userPredictions.extraPredictions.mostGoals !== 'to_be_inserted' &&
                    userPredictions.extraPredictions.mostGoals !== 'to_be_inserted'
                  "
                  class="wrong">
                  <mat-icon>close</mat-icon>
                  Oikea vastaus to_be_inserted ja to_be_inserted
                </span>
              </span>
            </div>
            <div></div>
            <div class="button-info-container">
              <mat-form-field appearance="outline">
                <mat-label>Top 4</mat-label>
                <mat-select
                  [(ngModel)]="userPredictions.extraPredictions.topFour"
                  [disabled]="arePredictionsLocked()"
                  multiple>
                  <mat-option
                    *ngFor="let team of teams"
                    [disabled]="
                      userPredictions.extraPredictions.topFour.length > 3 &&
                      !userPredictions.extraPredictions.topFour.includes(team.name)
                    "
                    [value]="team.name"
                  >{{ team.name }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <span (click)="openCustomDialog('Veikkaa turnauksen top 4 joukkueet')" class="info-button clickable">
                <mat-icon class="button"> info </mat-icon></span
              >
              <div *ngIf="tournament.extraPredictions.topFour.length !== 0" class="top4-wrong-right-container">
                <div>
                  <mat-icon *ngFor="let _ of top4CorrectAmount() | range" class="right">done</mat-icon>
                </div>
                <div>
                  <mat-icon
                    *ngFor="let _ of userPredictions.extraPredictions.topFour.length - top4CorrectAmount() | range"
                    class="wrong">
                    close
                  </mat-icon>
                </div>
              </div>
            </div>
            <div class="save-button-container">
              <button mat-raised-button class="clickable button primary-container" (click)="backToTop(mainContent)">
                Palaa ylös
              </button>
            </div>
          </div>
        </div>
      </mat-step>
      <mat-step *ngIf="!arePredictionsLocked()">
        <ng-template matStepLabel>Tallenna</ng-template>
        <p></p>
        <div class="buttons-container">
          <button mat-raised-button class="clickable primary-container" matStepperPrevious>Takaisin</button>
          <button class="clickable save-button primary-container" mat-raised-button (click)="savePredictions()">
            Tallenna veikkaukset
          </button>
        </div>
        <div class="info-container">Veikkauksia voi muokata turnauksen alkamiseen asti!</div>
      </mat-step>
    </mat-stepper>
  </div>
</ng-container>
