@use './src/colors' as *;

.main-content-container {
  min-height: 100%;

  ::ng-deep .mat-step-header {
    pointer-events: none !important;
  }

  .slider-container {
    position: relative;

    .slider-check-container {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 15px;

      .wrong {
        display: flex;
        align-items: center;
        justify-content: center;
        color: #ce2029;
      }

      .right {
        position: absolute;
        right: -25px;
        top: 50px;
        color: #228b22;
      }

      .text {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    .slider-title {
      justify-content: center;
      display: flex;
      margin-top: 20px;
      font-size: 16px;
    }

    .slider {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 300px;

      &.locked {
        pointer-events: none;
      }

      ::ng-deep .mat-slider-wrapper {
        .mat-slider-thumb-container {
          .mat-slider-thumb-label {
            width: 50px;
            height: 50px;
            top: -62px;
            right: -25px;
            text-align: center;
          }
        }
      }
    }
  }

  .buttons-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .info-container {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .button-info-container {
    display: flex;
    align-items: center;
    column-gap: 7px;
    margin-bottom: 20px;
    position: relative;

    .info-button {
      border: 2px solid $primary-color;
      display: flex;
      padding: 1px;
      border-radius: 15px;
      margin-bottom: 10px;

      .button {
        color: #468189;
      }
    }

    .wrong-right-container {
      position: absolute;
      top: 65px;
      width: 100%;
      align-items: center;
      justify-content: center;
      display: flex;

      .right {
        width: 100%;
        justify-content: flex-start;
        align-items: center;
        display: flex;
        font-size: 16px;
        height: 18px;
        color: #228b22;
      }

      .wrong {
        width: 100%;
        justify-content: flex-start;
        align-items: center;
        display: flex;
        font-size: 16px;
        height: 18px;
        color: #ce2029;
      }
    }

    .top4-wrong-right-container {
      position: absolute;
      right: -66px;

      .right {
        font-size: 16px;
        height: 18px;
        width: 16px;
        color: #228b22;
      }

      .wrong {
        font-size: 16px;
        height: 18px;
        width: 16px;
        color: #ce2029;
      }
    }
  }

  .other-predictions-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .head-to-head-container {
      border: 3px solid $primary-color;
      border-radius: 20px;
      width: 360px;
      padding: 10px;
      display: flex;
      flex-direction: column;
      row-gap: 20px;
      justify-content: center;
      align-items: center;

      .head-to-head-title {
        font-size: 20px;
        text-decoration: underline $primary-color;
      }

      .head-to-head-row {
        display: flex;
        justify-content: space-between;
        width: 340px;

        .toggle-button {
          position: relative;
          font-size: 16px;
          color: $primary-color;
          border: 2px inset $primary-color;
          border-radius: 10px;
          width: 100px;

          .predicted-percent {
            position: absolute;
            top: 16px;
            font-size: 10px;
            width: calc(100% - 24px);
            display: flex;
            justify-content: center;
          }
        }


        .question-container {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 120px;
          margin-left: 5px;
          margin-right: 5px;
          white-space: pre-wrap;
          text-align: center;
          font-size: 14px;
        }
      }
    }
  }

  .button-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;

    .button {
      width: 105px;
    }
  }

  .title-container {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    height: 40px;
  }

  .predictions-container {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
    margin-bottom: 20px;
    flex-wrap: wrap;
    row-gap: 10px;
  }

  .tab-group {
    display: flex;
    justify-content: center;
    border: 5px solid #45425a;
    border-radius: 20px;

    .group-title {
      display: flex;
      justify-content: center;
      font-size: 18px;
      margin-top: 10px;
      margin-bottom: 5px;
    }

    .tab-container {
      display: flex;

      .match-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-basis: 50%;
        margin-top: 10px;
        margin-bottom: 5px;

        .match-row {
          display: flex;
          justify-content: space-between;
          width: 90%;
          border-bottom: 1px solid gray;


          .toggle-number {
            font-weight: 900;
            color: darkgreen;
          }

          .predicted-percent {
            position: absolute;
            transform: translate(-12px, -65%);
            font-size: 10px;
            width: 32px;
            display: flex;
            justify-content: center;
          }

          .mat-button-toggle {
            background-color: ghostwhite;
          }

          .mat-button-toggle-checked {
            background-color: darkgray;
          }

          .teams {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: calc(100% - 110px);
            column-gap: 5px;

            .match-up {
              text-overflow: ellipsis;
              overflow: hidden;
              white-space: nowrap;
            }

            .flag-image {
              height: 30px;
              width: 30px;
              margin-left: 3px;
              margin-right: 3px;
            }
          }

          .match-date {
            display: flex;
            align-items: center;
            width: 33%;

            .date {
              margin-right: 20px;
            }
          }
        }
      }

      .divider {
        border-top: 5px solid #45425a;
        margin-top: 10px;
      }

      .group-container {
        flex-basis: 50%;
        display: flex;
        flex-direction: column;

        .group-prediction-title {
          display: flex;
          justify-content: center;
          font-size: 18px;
          margin-top: 10px;
          margin-bottom: 5px;
        }

        .group-content-container {
          align-items: center;
          display: flex;
          flex-direction: column;
          justify-content: center;

          .group-title-container {
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: 40px;
            border-bottom: 1px inset black;
            font-size: 15px;
            width: 90%;

            .text-margin {
              margin-left: 5px;
              margin-right: 5px;
            }
          }

          .group-row {
            display: flex;
            justify-content: space-between;
            width: 90%;
            height: 40px;

            &:nth-child(2n + 3) {
              background-color: rgb(220, 200, 220);
              color: black;
            }

            &:nth-child(even) {
              background-color: rgb(240, 220, 240);
              color: black;
            }

            .row-box {
              display: flex;
              align-items: center;
              margin-left: 5px;
              margin-right: 5px;

              .flag-image {
                height: 30px;
                width: 30px;
                margin-right: 3px;
              }
            }
          }
        }
      }
    }
  }

  ::ng-deep.mat-tab-labels {
    justify-content: center;
  }
}

@media only screen and (max-width: 768px) {
  .main-content-container {
    .other-predictions-container {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      .head-to-head-container {
        width: 96%;
      }
    }

    .tab-container {
      display: flex;
      flex-direction: column;

      .group-container {
        width: 100%;

        .group-content-container {
          margin: 5px;

          .group-title-container {
            width: 100%;
          }

          .group-row {
            width: 100%;
          }
        }

        .match-container {
          justify-content: normal;

          .match-row {
            width: 100%;
          }
        }
      }
    }
  }

  ::ng-deep.mat-horizontal-content-container {
    padding: 0 16px 16px 16px !important;
  }

  .tab-group {
    min-height: 666px;
  }
}
