<ng-container *ngIf="tournament !== null">
  <div class="main-content-container">
    <div class="title-container">
      {{ tournament.name }}
    </div>
    <mat-stepper [linear]="isLinear" #stepper>
      <mat-step [completed]="arePredictionsIncomplete()" label="1X2">
        <div class="button-container">
          <button class="clickable button" mat-raised-button routerLink="/home">
            <mat-icon>arrow_left</mat-icon>
            Aloitussivulle
          </button>
          <div class="button-info-container">
            <button [disabled]="!arePredictionsIncomplete()" mat-raised-button
                    class="clickable" matStepperNext>Muut
            </button>
            <div class="flex-container" matTooltip="Täytä ensin 1X2 veikkaukset">
              <img alt="info" src="assets/images/info.svg"/>
            </div>
          </div>
        </div>
        <mat-tab-group>
          <mat-tab [label]="group.name" *ngFor="let group of groups">
            <div class="tab-container">
              <div class="match-container">
                <div *ngFor="let match of group.matches" class="match-row">
                  <span class="teams"> <img alt="home team flag" class="flag-image"
                                            [src]="'assets/images/4x3/' + fetchFlag(match.home) + '.svg'">
                    {{ match.home }} - {{ match.away }}
                    <img alt="away team flag" class="flag-image"
                         [src]="'assets/images/4x3/' + fetchFlag(match.away) + '.svg'"></span>
                  <span class="match-date">
                    <span class="date">{{ match.date | date: 'dd.MM.yyyy' }} </span>
                    <mat-icon>schedule</mat-icon>
                    <span>{{ match.date | date: 'HH:mm' }} </span>
                  </span>
                  <span>
                    <mat-button-toggle-group (change)="savePrediction(match.id, $event.value)"
                                             [value]="isSelected(match.id)"
                                             [disabled]="userService.arePredictionsLocked">
                      <mat-button-toggle [style.background-color]="arePredictionsCorrect(match.id, '1')"
                                         value="1">1</mat-button-toggle>
                      <mat-button-toggle [style.background-color]="arePredictionsCorrect(match.id, 'X')"
                                         value="X">X</mat-button-toggle>
                      <mat-button-toggle [style.background-color]="arePredictionsCorrect(match.id, '2')"
                                         value="2">2</mat-button-toggle>
                    </mat-button-toggle-group>
                  </span>
                </div>
              </div>
              <mat-divider></mat-divider>

              <div class="group-container">
                <h1>Lohkotilanne veikkauksiesi mukaan</h1>
                <div class="group-title-container"><span class="text-margin">Joukkue</span><span class="text-margin">Pisteet</span>
                </div>
                <div *ngFor="let team of group.teams" class="group-row">
                  <span class="row-box">{{ team.name }}</span>
                  <span class="row-box">{{ team.predictedPoints }}</span>
                </div>
              </div>
            </div>
          </mat-tab>
        </mat-tab-group>
      </mat-step>
      <mat-step label="Muut">
        <div class="button-container">
          <button class="clickable" mat-raised-button matStepperPrevious>1X2</button>
          <button class="clickable" mat-raised-button matStepperNext>Tallennus</button>
        </div>
        <div class="other-predictions-container">
          <div class="button-info-container">
            <mat-form-field appearance="fill">
              <mat-label>Eniten varoituksia</mat-label>
              <mat-select [(ngModel)]="mostCards">
                <mat-option *ngFor="let team of teams" [value]="team.name">
                  {{ team.name }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <img matTooltip="Veikkaa lohkovaiheessa eniten varoituksia kerännyttä joukkuetta" alt="info"
                 src="assets/images/info.svg"/>
          </div>
          <div>
            <mat-form-field appearance="fill">
              <mat-label>Eniten maaleja</mat-label>
              <mat-select [(ngModel)]="mostGoals">
                <mat-option *ngFor="let team of teams" [value]="team.name">
                  {{ team.name }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <img matTooltip="Veikkaa lohkovaiheessa eniten maaleja tehnyttä joukkuetta" alt="info"
                 src="assets/images/info.svg"/>
          </div>
          <div>
            <mat-form-field appearance="fill">
              <mat-label>Top 4</mat-label>
              <mat-select [(ngModel)]="topFour" multiple>
                <mat-option [disabled]="topFour.length > 3 && !topFour.includes(team.name)" *ngFor="let team of teams"
                            [value]="team.name">{{ team.name }}</mat-option>
              </mat-select>
            </mat-form-field>
            <img matTooltip="Veikkaa turnauksen semi-finalistit" alt="info" src="assets/images/info.svg"/>
          </div>
          <div>
            <mat-form-field appearance="fill">
              <mat-label>Maalipörssin voittaja</mat-label>
              <input [(ngModel)]="topScorer" type="text" matInput placeholder="Etunimi Sukunimi"/>
            </mat-form-field>
            <img matTooltip="Veikkaa koko turnauksen maalipörssin voittaja" alt="info" src="assets/images/info.svg"/>
          </div>
          <button mat-raised-button class="clickable" (click)="saveOtherPrediction()"> Tallenna
          </button>
        </div>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Tallenna</ng-template>
        <p></p>
        <div class="save-button-container">
          <button class="clickable" mat-raised-button matStepperPrevious>Takaisin</button>
          <button mat-raised-button class="clickable" (click)="finalizePredictions()">Lyö veikkaukset lukkoon</button>
        </div>
      </mat-step>
    </mat-stepper>
  </div>
</ng-container>
