<div class="title-container">Pistelaskukaava</div>
<div class="info-container">
  <div>- 1x2 veikaukset: 1 piste / oikea veikkaus</div>
  <div>- Kumpi vai Kampi -osio: 1 piste / oikea veikkaus (tasatilanteessa kaikki voittaa)</div>
  <div>- Top 4: 2 pistettä / oikea veikkaus (max 8p)</div>
  <div>- Nopein maali ja isomaalisin ottelu: 2 pistettä / oikea veikkaus</div>
  <div>- Eniten kortteja ja eniten maaleja: 3 pistettä / oikea veikkaus</div>
  <div></div>
  <div>- Nuolet kertovat taulukon kehityksen 24h takaiseen tilanteeseen ja sulkeissa oleva numero sijoituksen
    nousun/laskun
  </div>
  <div></div>
  <button (click)="onNoClick()" class="clickable secondary-container" mat-raised-button>Kiitos tiedosta!</button>
</div>
