.margins {
  margin: 10px;
}

.title-container {
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: black 1px solid;
}

.info-container {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  justify-content: center;
}
