<div class="title-container">Pistelaskukaava</div>
<div class="info-container">
  <div> Veikkausten pistemäärät per veikkaus</div>
  <div>-1X2 veikaukset yksi piste</div>
  <div>-Kumpi osio yksi piste per (tasatilanteessa kaikki voittaa)</div>
  <div>-Top4 kaksi pistettä per joukkue</div>
  <div>-Nopein maali ja isomaalisin ottelu kaksi pistettä</div>
  <div>-Eniten kortteja ja maaleja kolme pistettä (tasatilanteessa kaikki tasoissa olevat joukkueet oikeuttavat
    pisteisiin)
  </div>
  <button mat-raised-button class="clickable secondary-container" (click)="onNoClick()">Selvä!</button>
</div>
