@use './src/colors' as *;

.main-content {
  padding: 2%;

  .tournament-info-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;

    .info-box {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 33%;

      .button-with-icon {
        margin-left: 5px;
        display: flex;

        .small-icon {
          font-size: 20px;
        }
      }

      .button {
        height: 20px;
        font-size: 14px;
        line-height: 15px;
      }

      .lettering-container {
        display: flex;
        flex-direction: row;
        column-gap: 1px;
        align-items: center;
        margin-bottom: 3px;

        .letter-box {
          display: flex;
          justify-content: center;
          align-items: center;
          min-height: 16px;
          width: 16px;
          font-size: 12px;
          border-radius: 3px;
        }
      }

      .box-title {
        font-size: 12px;
        opacity: 0.7;
      }

      .box-content {
        text-align: center;
      }
    }
  }

  .countdown-title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    font-size: 20px;
  }

  .countdown-container {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 20px;

    .countdown-item {
      display: flex;
      font-size: 16px;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      .value {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 60px;
        width: 60px;
        font-size: 24px;
        border: 1px solid $primary-color;
        border-radius: 3px;
      }
    }
  }

  .title {
    text-align: center;
    font-size: 2rem;
  }

  .tab-group-title {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    border-bottom: 1px inset black;
    font-size: 30px;
    margin-top: 25px;
  }

  .min-height {
    min-height: 260px;
  }

  .group-container {
    margin-top: 10px;
    align-items: center;
    display: flex;
    flex-direction: column;

    div:nth-child(even) {
      background-color: rgb(240, 220, 240);
      color: black;
    }

    div:nth-child(2n + 3) {
      background-color: rgb(220, 200, 220);
      color: black;
    }

    .group-title-container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 40px;
      font-size: 15px;
      width: 100%;

      .text-margin {
        margin-left: 5px;
        margin-right: 5px;
      }
    }

    .group-row {
      display: flex;
      justify-content: space-between;
      width: 100%;
      height: 40px;
      border-bottom: 1px solid black;

      .row-box {
        display: flex;
        align-items: center;
        font-size: 20px;
        margin-left: 5px;
        margin-right: 5px;

        .flag-image {
          height: 30px;
          width: 30px;
          margin-right: 3px;
        }
      }
    }
  }

  .button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150px;
    width: calc(100% - 40px);
    margin: 20px;

    .button {
      width: 300px;
      height: 100%;
      font-size: 16px;
    }
  }

  .alternative-button-container {
    margin: 15px;

    .button {
      height: 40px;
    }
  }

  ::ng-deep.mat-tab-labels {
    justify-content: center;
  }

  .matches-today-and-user-standings-container {
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    justify-content: space-evenly;
    margin-bottom: 20px;

    .standings-container {
      width: 40%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: fit-content;

      div:nth-child(even) {
        background-color: rgb(240, 220, 240);
        color: black;
      }

      .loading-container {
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .standings-title-container {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 24px;
        height: 40px;
        column-gap: 5px;

        .info-icon {
          display: flex;
          justify-content: flex-start;
          align-items: center;
        }
      }

      .standings-row-container {
        display: flex;
        justify-content: space-between;
        height: 40px;
        border-bottom: 1px solid black;
        border-top: 1px solid black;

        &:nth-child(even) {
          background-color:  rgb(240, 220, 240);
          color: black;
        }

        &:nth-child(2n + 3) {
          background-color: rgb(220, 200, 220);
          color: black;
        }

        .standings-row-box {
          display: flex;
          align-items: center;
          font-size: 20px;
          margin-left: 5px;
          margin-right: 5px;
        }
      }

      .expand-standings-container {
        width: 100%;
        display: flex;
        justify-content: center;
        background-color: $secondary-color;
      }
    }

    .games-today-container {
      width: 40%;
      display: flex;
      flex-direction: column;
      height: fit-content;

      div:nth-child(even) {
        background-color: rgb(240, 235, 235);
        color: black;
      }

      .games-today-title-container {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 24px;
        column-gap: 10px;
        height: 40px;
      }

      .games-today-row-container {
        display: flex;
        justify-content: space-between;
        height: 40px;
        border-bottom: 1px solid black;
        border-top: 1px solid black;

        &:nth-child(even) {
          background-color: rgb(240, 220, 240);
          color: black;
        }

        &:nth-child(2n + 3) {
          background-color: rgb(220, 200, 220);
          color: black;
        }

        .games-today-row-box {
          display: flex;
          width: 30%;
          align-items: center;
          justify-content: flex-start;
          font-size: 20px;
          margin-left: 5px;
          margin-right: 5px;

          .flag-image {
            height: 30px;
            width: 30px;
            margin-right: 3px;
            margin-left: 3px;
          }
        }

        :nth-of-type(2) {
          justify-content: center;
        }

        :nth-of-type(3) {
          justify-content: flex-end;
        }
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .main-content {
    .title {
      font-size: 18px;
    }

    .tab-group-title {
      font-size: 18px;
    }

    .group-container {
      .group-title-container {
        width: 90%;
      }

      .group-row {
        width: 100%;
      }
    }

    .matches-today-and-user-standings-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .games-today-container {
        margin-top: 25px;
        width: 90%;
        justify-content: center;

        .games-today-title-container {
          font-size: 18px;
        }
      }

      .standings-container {
        width: 90%;

        .standings-title-container {
          font-size: 18px;
          height: 40px;
        }
      }
    }

    .button-container {
      .button {
        width: 100%;
      }
    }
  }
}
