<ng-container *ngIf="tournament !== null && group !== null">
  <div class="main-content background-color-container">
    <div class="tournament-info-container">
      <div class="info-box">
        <span class="box-title">Ryhmän nimi</span><span class="box-content"> {{ group.name }}</span>
      </div>
      <div class="info-box">
        <div>Koodi</div>
        <div class="lettering-container clickable" (click)="copyCode()">
          <span *ngFor="let letter of groupCode" class="letter-box secondary-container"> {{ letter }} </span>
          <div class="button-with-icon clickable">
            <mat-icon class="small-icon">content_copy</mat-icon>
          </div>
        </div>
      </div>
      <div class="info-box">
        <span class="box-title">Turnausmuoto</span><span class="box-content"> {{ tournament.name }}</span>
      </div>
    </div>
    <mat-divider></mat-divider>
    <ng-container *ngIf="!hasTournamentStarted()">
      <div class="countdown-title">Lähtölaskenta</div>
      <div class="countdown-container">
        <span class="countdown-item">
          <div>Päivät</div>
          <div class="value primary-container">{{ days }}</div>
        </span>
        <span class="countdown-item">
          <div>Tunnit</div>
          <div class="value primary-container">{{ hours }}</div>
        </span>
        <span class="countdown-item">
          <div>Minuutit</div>
          <div class="value primary-container">{{ minutes }}</div>
        </span>
        <span class="countdown-item">
          <div>Sekunnit</div>
          <div class="value primary-container">{{ seconds }}</div>
        </span>
      </div>
    </ng-container>
    <div *ngIf="!hasTournamentStarted()" class="button-container">
      <button [routerLink]="['./tournament']" class="clickable secondary-container button" mat-raised-button>
        <div>{{ arePredictionsCompleted() }}</div>
        <div class="flex-container">
          <mat-icon>arrow_left</mat-icon>
          Klikkaa tästä veikkauksiin
        </div>
      </button>
    </div>
    @if (false) {
      <div class="button-container">
        <button [routerLink]="['./tournament-playoffs']" class="clickable secondary-container button" mat-raised-button>
          <div class="flex-container">
            <mat-icon>arrow_left</mat-icon>
            Tee pudotuspeliveikkaukset
          </div>
        </button>
      </div>
    }
    <div *ngIf="hasTournamentStarted()" class="alternative-button-container">
      <button [routerLink]="['./tournament']" class="clickable secondary-container button" mat-raised-button>
        <div class="flex-container">
          <mat-icon>arrow_left</mat-icon>
          Katso veikkauksiasi
        </div>
      </button>
    </div>
    <div class="matches-today-and-user-standings-container">
      <div class="standings-container primary-container">
        <div class="standings-title-container">
          <mat-icon class="info-icon clickable" (click)="openDialog()">info</mat-icon>
          Pistetilanne
          <mat-icon
            class="clickable"
            *ngIf="lastUpdated"
            (click)="openCustomDialog('Otteluiden tulokset päivitetty: ' + formatDate(lastUpdated))">
            update
          </mat-icon>
        </div>
        <div *ngFor="let user of users.slice(0, 5)" class="standings-row-container">
          <span *ngIf="user.nickName === null" class="standings-row-box">
            {{ user.firstName }} {{ user.lastName[0] }}
          </span>
          <span
            [matTooltip]="user.firstName + ' ' + user.lastName"
            *ngIf="user.nickName !== null"
            class="standings-row-box">
            {{ user.nickName }}
          </span>
          <span class="standings-row-box">
            <mat-icon *ngIf="compareUserPosition(user) === 0" class="even">horizontal_rule</mat-icon>
            <mat-icon *ngIf="compareUserPosition(user) > 0" class="up">arrow_upward</mat-icon>
            <mat-icon *ngIf="compareUserPosition(user) < 0" class="down">arrow_downward</mat-icon>
            <span class="compared-points">
              ({{ compareUserPosition(user) > 0 ? '+' + compareUserPosition(user) : compareUserPosition(user) }})
            </span>
            {{ user.points }}
          </span>
        </div>
        <ng-container *ngIf="isUserListExpanded">
          <div *ngFor="let user of users.slice(5)" class="standings-row-container">
            <span *ngIf="user.nickName === null" class="standings-row-box">
              {{ user.firstName }} {{ user.lastName[0] }}
            </span>
            <span
              *ngIf="user.nickName !== null"
              [matTooltip]="user.firstName + ' ' + user.lastName"
              class="standings-row-box">
              {{ user.nickName }}
            </span>
            <span class="standings-row-box">
              <mat-icon *ngIf="compareUserPosition(user) === 0" class="even">horizontal_rule</mat-icon>
              <mat-icon *ngIf="compareUserPosition(user) > 0" class="up">arrow_upward</mat-icon>
              <mat-icon *ngIf="compareUserPosition(user) < 0" class="down">arrow_downward</mat-icon>
              <span class="compared-points">
                ({{ compareUserPosition(user) > 0 ? '+' + compareUserPosition(user) : compareUserPosition(user) }})
              </span>
              {{ user.points }}
            </span>
          </div>
        </ng-container>
        <div
          (click)="isUserListExpanded = !isUserListExpanded"
          *ngIf="users.length > 5"
          class="expand-standings-container clickable">
          <mat-icon *ngIf="isUserListExpanded">expand_less</mat-icon>
          <mat-icon *ngIf="!isUserListExpanded">expand_more</mat-icon>
        </div>
      </div>
      <div class="games-today-container primary-container">
        <div
          class="games-today-title-container primary-container"
          *ngIf="gamesToday.length === 0 && placeholderDate > tournament.startingDate">
          Ei lohkovaiheen pelejä
        </div>
        <div
          class="games-today-title-container primary-container"
          *ngIf="gamesToday.length === 0 && tournament.startingDate > placeholderDate">
          Turnaus ei ole alkanut vielä
        </div>
        <div class="games-today-title-container primary-container" *ngIf="gamesToday.length > 0">Päivän matsit</div>
        <div class="games-today-date-container primary-container">
          <div class="button clickable secondary-container" (click)="changeDay(-1)">
            <mat-icon>arrow_left</mat-icon>
          </div>
          <span class="date-container"><mat-icon>today</mat-icon> {{ placeholderDate | date: 'dd.MM.yyyy' }}</span>
          <div class="button clickable secondary-container" (click)="changeDay(1)">
            <mat-icon>arrow_right</mat-icon>
          </div>
        </div>
        <div class="games-today-row-container" *ngFor="let game of gamesToday">
          <span class="games-today-row-box">
            <img [src]="'assets/images/4x3/' + fetchFlag(game.home) + '.svg'" alt="home team flag" class="flag-image" />
            {{ game.home }}</span
          >
          <span *ngIf="!game.result" class="games-today-row-box"> {{ game.date | date: 'HH:mm' }}</span>
          <span *ngIf="game.result" class="games-today-row-box">
            {{ game.result }}
            <mat-icon [class]="checkResult(game.id - 1) === 'done' ? 'right' : 'wrong'">
              {{ checkResult(game.id - 1) }}
            </mat-icon>
          </span>
          <span class="games-today-row-box">
            {{ game.away }}
            <img [src]="'assets/images/4x3/' + fetchFlag(game.away) + '.svg'" alt="away team flag" class="flag-image"
          /></span>
        </div>
      </div>
    </div>
    <mat-divider></mat-divider>
    <div class="tab-group-title">Lohkotilanteet</div>
    <div class="min-height tournament-group-container">
      <mat-tab-group>
        <mat-tab *ngFor="let group of tournament.groups" [label]="group.name">
          <div class="group-container primary-container">
            <div class="group-title-container">
              <span class="text-margin"
                ><mat-icon
                  class="clickable"
                  (click)="
                    openCustomDialog(
                      'Lohkotilanteet eivät osaa ottaa huomioon maalieroa, joten tasatilanteissa joukkueet ovat satunnaisessa järjestyksessä.'
                    )
                  "
                  >info</mat-icon
                >Joukkue</span
              ><span class="text-margin">Pisteet</span>
            </div>
            <div *ngFor="let team of group.teams" class="group-row">
              <span class="row-box">
                <img [src]="'assets/images/4x3/' + fetchFlag(team.name) + '.svg'" alt="team flag" class="flag-image" />
                {{ team.name }}</span
              >
              <span class="row-box">{{ team.points }}</span>
            </div>
          </div>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</ng-container>
