<ng-container *ngIf="tournament !== null">
  <div class="main-content">
    <div class="title">Tervetuloa kisaveikkauksien pyhättöön !</div>
    <ng-container *ngIf="!hasTournamentStarted()">
      <div class="countdown-title">Turnaus alkaa:</div>
      <div class="countdown-container">
      <span class="countdown-item">
        <div>Päivät</div>
        <div class="value">{{ days }}</div>
      </span>
        <span class="countdown-item">
        <div>Tunnit</div>
        <div class="value">{{ hours }}</div>
      </span>
        <span class="countdown-item">
        <div>Minuutit</div>
        <div class="value">{{ minutes }}</div>
      </span>
        <span class="countdown-item">
        <div>Sekunnit</div>
        <div class="value">{{ seconds }}</div>
      </span>
      </div>
    </ng-container>
    <div class="button-container">
      <button class="clickable button" mat-raised-button routerLink="/MM-kisat-2022">
        <mat-icon>arrow_left</mat-icon>
        Veikkauksiin
      </button>
    </div>
    <div class="matches-today-and-user-standings-container">
      <div class="standings-container">
        <div class="standings-title-container">
          Pistetilanne
          <mat-icon matTooltip="Viimeksi päivitetty: x">update</mat-icon>
        </div>
        <ng-container *ngIf="mockUsers$ | async as mockUsers ; else elseBlock">
          <div *ngFor="let user of sortUsers(mockUsers)" class="standings-row-container">

            <span class="standings-row-box">{{ user.name }}</span>
            <span class="standings-row-box">{{ user.points }}</span>
          </div>
        </ng-container>
        <ng-template #elseBlock>
          <div class="loading-container">
            <mat-spinner></mat-spinner>
          </div>
        </ng-template>
      </div>
      <div class="games-today-container">
        <div class="games-today-title-container">
          Päivän matsit
          <mat-icon>today</mat-icon>
          {{ today | date: 'dd.MM.yyyy' }}
        </div>
        <div class="games-today-row-container" *ngFor="let game of gamesToday">
          <span class="games-today-row-box"> {{ game.home }} - {{ game.away }} </span><span
          class="games-today-row-box"> {{ game.date | date: 'HH:mm' }}</span>
        </div>
      </div>
    </div>
    <mat-divider></mat-divider>
    <div class="tab-group-title">Lohkotilanteet</div>
    <mat-tab-group>
      <mat-tab [label]="group.name" *ngFor="let group of tournament.groups">
        <div class="group-container">
          <div class="group-title-container"><span class="text-margin">Joukkue</span><span
            class="text-margin">Pisteet</span></div>
          <div *ngFor="let team of group.teams" class="group-row">
            <span class="row-box">{{ team.name }}</span>
            <span class="row-box">{{ team.points }}</span>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</ng-container>
