<div class="main-container background-color-container">
  <div class="finals">
    <div [class.locked]="areBracketsUnfinished()" class="match column">
      <div
        (click)="chooseChampion(userPlayoffBracket.grandFinal.home)"
        [class.selected]="
          userPlayoffBracket.grandFinal.home === userPlayoffBracket.winner && userPlayoffBracket.winner !== ''
        "
        class="team clickable">
        <div class="name">{{ userPlayoffBracket.grandFinal.home }}</div>
        <div class="flag">
          @if (userPlayoffBracket.grandFinal.home !== '') {
            <img
              width="16"
              height="12"
              [ngSrc]="'assets/images/4x3/' + fetchFlag(userPlayoffBracket.grandFinal.home) + '.svg'"
              alt="away team flag"
              class="flag-image" />
          }
        </div>
      </div>
      <div
        (click)="chooseChampion(userPlayoffBracket.grandFinal.away)"
        [class.selected]="
          userPlayoffBracket.grandFinal.away === userPlayoffBracket.winner && userPlayoffBracket.winner !== ''
        "
        class="team clickable">
        <div class="name">{{ userPlayoffBracket.grandFinal.away }}</div>
        <div class="flag">
          @if (userPlayoffBracket.grandFinal.away !== '') {
            <img
              width="16"
              height="12"
              [ngSrc]="'assets/images/4x3/' + fetchFlag(userPlayoffBracket.grandFinal.away) + '.svg'"
              alt="away team flag"
              class="flag-image" />
          }
        </div>
      </div>
    </div>
  </div>
  @if (bracketSide === 'left') {
    <div class="brackets">
      <div class="change-bracket-button">
        <button (click)="bracketSide = 'right'" mat-raised-button>
          <i class="material-icons">keyboard_double_arrow_right</i>
        </button>
      </div>
      <div class="round">
        <div *ngFor="let match of userPlayoffBracket.leftSide.quarterFinals; let i = index" class="match">
          <div
            (click)="chooseQFWinner(match.home, i, 'leftSide')"
            class="team clickable"
            [class.selected]="checkIfChosenForSF(match.home, 'leftSide')">
            <div class="name">{{ match.home }}</div>
            <div class="flag">
              <img
                *ngIf="match.home !== ''"
                width="16"
                height="12"
                [ngSrc]="'assets/images/4x3/' + fetchFlag(match.home) + '.svg'"
                alt="away team flag"
                class="flag-image" />
            </div>
          </div>
          <div
            (click)="chooseQFWinner(match.away, i, 'leftSide')"
            class="team clickable"
            [class.selected]="checkIfChosenForSF(match.away, 'leftSide')">
            <div class="name"></div>
            {{ match.away }}
            <div class="flag">
              <img
                *ngIf="match.away !== ''"
                width="16"
                height="12"
                [ngSrc]="'assets/images/4x3/' + fetchFlag(match.away) + '.svg'"
                alt="away team flag"
                class="flag-image" />
            </div>
          </div>
        </div>
      </div>
      <div class="round">
        <div
          *ngFor="let match of userPlayoffBracket.leftSide.semiFinals; let i = index"
          class="match"
          [class.locked]="areQuarterFinalsUnfinished(userPlayoffBracket.leftSide.semiFinals)">
          <div
            (click)="chooseSFWinner(match.home, i, 'leftSide')"
            class="team clickable"
            [class.selected]="
              (userPlayoffBracket.leftSide.bracketFinal.home === match.home ||
                userPlayoffBracket.leftSide.bracketFinal.away === match.home) &&
              match.home !== ''
            ">
            <div class="name">{{ match.home }}</div>
            <div class="flag">
              <img
                *ngIf="match.home !== ''"
                width="16"
                height="12"
                [ngSrc]="'assets/images/4x3/' + fetchFlag(match.home) + '.svg'"
                alt="away team flag"
                class="flag-image" />
            </div>
          </div>
          <div
            (click)="chooseSFWinner(match.away, i, 'leftSide')"
            class="team clickable"
            [class.selected]="
              (userPlayoffBracket.leftSide.bracketFinal.away === match.away ||
                userPlayoffBracket.leftSide.bracketFinal.home === match.away) &&
              match.away !== ''
            ">
            <div class="name">{{ match.away }}</div>
            <div class="flag">
              @if (match.away !== '') {
                <img
                  width="16"
                  height="12"
                  [ngSrc]="'assets/images/4x3/' + fetchFlag(match.away) + '.svg'"
                  alt="away team flag"
                  class="flag-image" />
              }
            </div>
          </div>
        </div>
      </div>
      <div class="round">
        <div class="match" [class.locked]="areSemiFinalsUnfinished(userPlayoffBracket.leftSide.bracketFinal)">
          <div
            (click)="chooseBFWinner(userPlayoffBracket.leftSide.bracketFinal.home, 'left')"
            class="team clickable"
            [class.selected]="
              userPlayoffBracket.grandFinal.home === userPlayoffBracket.leftSide.bracketFinal.home &&
              userPlayoffBracket.leftSide.bracketFinal.home !== ''
            ">
            <div class="name">{{ userPlayoffBracket.leftSide.bracketFinal.home }}</div>
            <div class="flag">
              <img
                *ngIf="userPlayoffBracket.leftSide.bracketFinal.home !== ''"
                width="16"
                height="12"
                [ngSrc]="'assets/images/4x3/' + fetchFlag(userPlayoffBracket.leftSide.bracketFinal.home) + '.svg'"
                alt="away team flag"
                class="flag-image" />
            </div>
          </div>
          <div
            (click)="chooseBFWinner(userPlayoffBracket.leftSide.bracketFinal.away, 'left')"
            class="team clickable"
            [class.selected]="
              userPlayoffBracket.grandFinal.home === userPlayoffBracket.leftSide.bracketFinal.away &&
              userPlayoffBracket.leftSide.bracketFinal.away !== ''
            ">
            <div class="name"></div>
            {{ userPlayoffBracket.leftSide.bracketFinal.away }}
            <div class="flag">
              <img
                *ngIf="userPlayoffBracket.leftSide.bracketFinal.away !== ''"
                width="16"
                height="12"
                [ngSrc]="'assets/images/4x3/' + fetchFlag(userPlayoffBracket.leftSide.bracketFinal.away) + '.svg'"
                alt="away team flag"
                class="flag-image" />
            </div>
          </div>
        </div>
      </div>
    </div>
  } @else {
    <div class="brackets right">
      <div class="change-bracket-button right">
        <button (click)="bracketSide = 'left'" mat-flat-button>
          <i class="material-icons">keyboard_double_arrow_left</i>
        </button>
      </div>
      <div class="round">
        <div *ngFor="let match of userPlayoffBracket.rightSide.quarterFinals; let i = index" class="match">
          <div
            (click)="chooseQFWinner(match.home, i, 'rightSide')"
            class="team clickable"
            [class.selected]="checkIfChosenForSF(match.home, 'rightSide')">
            <div class="name">{{ match.home }}</div>
            <div class="flag">
              <img
                *ngIf="match.home !== ''"
                width="16"
                height="12"
                [ngSrc]="'assets/images/4x3/' + fetchFlag(match.home) + '.svg'"
                alt="away team flag"
                class="flag-image" />
            </div>
          </div>
          <div
            (click)="chooseQFWinner(match.away, i, 'rightSide')"
            class="team clickable"
            [class.selected]="checkIfChosenForSF(match.away, 'rightSide')">
            <div class="name"></div>
            {{ match.away }}
            <div class="flag">
              <img
                *ngIf="match.away !== ''"
                width="16"
                height="12"
                [ngSrc]="'assets/images/4x3/' + fetchFlag(match.away) + '.svg'"
                alt="away team flag"
                class="flag-image" />
            </div>
          </div>
        </div>
      </div>
      <div class="round">
        <div
          *ngFor="let match of userPlayoffBracket.rightSide.semiFinals; let i = index"
          class="match"
          [class.locked]="areQuarterFinalsUnfinished(userPlayoffBracket.rightSide.semiFinals)">
          <div
            (click)="chooseSFWinner(match.home, i, 'rightSide')"
            class="team clickable"
            [class.selected]="
              (userPlayoffBracket.rightSide.bracketFinal.home === match.home ||
                userPlayoffBracket.rightSide.bracketFinal.away === match.home) &&
              match.home !== ''
            ">
            <div class="name">{{ match.home }}</div>
            <div class="flag">
              <img
                *ngIf="match.home !== ''"
                width="16"
                height="12"
                [ngSrc]="'assets/images/4x3/' + fetchFlag(match.home) + '.svg'"
                alt="away team flag"
                class="flag-image" />
            </div>
          </div>
          <div
            (click)="chooseSFWinner(match.away, i, 'rightSide')"
            class="team clickable"
            [class.selected]="
              (userPlayoffBracket.rightSide.bracketFinal.away === match.away ||
                userPlayoffBracket.rightSide.bracketFinal.home === match.away) &&
              match.away !== ''
            ">
            <div class="name">{{ match.away }}</div>
            <div class="flag">
              @if (match.away !== '') {
                <img
                  width="16"
                  height="12"
                  [ngSrc]="'assets/images/4x3/' + fetchFlag(match.away) + '.svg'"
                  alt="away team flag"
                  class="flag-image"/>
              }
            </div>
          </div>
        </div>
      </div>
      <div class="round">
        <div class="match" [class.locked]="areSemiFinalsUnfinished(userPlayoffBracket.rightSide.bracketFinal)">
          <div
            (click)="chooseBFWinner(userPlayoffBracket.rightSide.bracketFinal.home, 'right')"
            class="team clickable"
            [class.selected]="
              userPlayoffBracket.grandFinal.away === userPlayoffBracket.rightSide.bracketFinal.home &&
              userPlayoffBracket.rightSide.bracketFinal.home !== ''
            ">
            <div class="name">{{ userPlayoffBracket.rightSide.bracketFinal.home }}</div>
            <div class="flag">
              <img
                *ngIf="userPlayoffBracket.rightSide.bracketFinal.home !== ''"
                width="16"
                height="12"
                [ngSrc]="'assets/images/4x3/' + fetchFlag(userPlayoffBracket.rightSide.bracketFinal.home) + '.svg'"
                alt="away team flag"
                class="flag-image" />
            </div>
          </div>
          <div
            (click)="chooseBFWinner(userPlayoffBracket.rightSide.bracketFinal.away, 'right')"
            class="team clickable"
            [class.selected]="
              userPlayoffBracket.grandFinal.away === userPlayoffBracket.rightSide.bracketFinal.away &&
              userPlayoffBracket.rightSide.bracketFinal.away !== ''
            ">
            <div class="name"></div>
            {{ userPlayoffBracket.rightSide.bracketFinal.away }}
            <div class="flag">
              <img
                *ngIf="userPlayoffBracket.rightSide.bracketFinal.away !== ''"
                width="16"
                height="12"
                [ngSrc]="'assets/images/4x3/' + fetchFlag(userPlayoffBracket.rightSide.bracketFinal.away) + '.svg'"
                alt="away team flag"
                class="flag-image" />
            </div>
          </div>
        </div>
      </div>
    </div>
  }
  @if (userPlayoffBracket.winner !== '' && arePredictionsLocked()) {
    <button (click)="saveUserPlayoffPredictions()" class="save-button {{ bracketSide }}" mat-raised-button>Tallenna</button>
  }
</div>
