.main-container {
  height: calc(100% - 20px);
  padding: 10px;
  display: flex;
  flex-direction: column;

  .finals {
    height: 60px;
    border-bottom: 1px solid;
    display: flex;
    justify-content: center;
  }

  .brackets {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    &.right {
      flex-direction: row-reverse;
    }

    .change-bracket-button {
      position: absolute;
      right: 10px;
      top: 75px;

      &.right {
        left: 10px;
        right: unset;
      }
    }

    .round {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
    }
  }
}

.match {
  display: flex;
  flex-direction: column;

  &.locked {
    user-select: none;
    pointer-events: none;
    opacity: 0.5;
  }

  &.column {
    flex-direction: row;
  }

  .team {
    display: flex;
    flex-direction: row;
    border: 1px black solid;
    border-radius: 9px;
    width: 95px;
    justify-content: center;
    margin: 3px;
    height: 40px;
    align-items: center;
    column-gap: 5px;
    background-color: white;

    &.selected {
      background-color: lightgrey;
    }

    .name {
    }

    .flag {
      display: flex;
      align-items: center;
    }
  }
}

.save-button {
  position: absolute;
  right: 20px;
  bottom: 20px;

  &.right {
    left: 20px;
    right: unset;
  }
}
