<div class="main-content-container">
  <div>
    <span *ngIf="user !== null">Hello {{user !== null ? user.name : ''}}!</span>
    <span *ngIf="user === null">Et ole kirjautuneena! </span>
    <div>
      <button *ngIf="user === null" class="button clickable" mat-raised-button routerLink="">
        Tästä takaisin
      </button>
    </div>
  </div>
  <div class="title-container">
    <h1>{{competition.name}} veikkauskaavio</h1>
  </div>
  <mat-tab-group *ngIf="user !== null">
    <mat-tab label="{{user.name | uppercase}}">
      <app-one-round-bracket (submitUserSelections)="submitUserSelections($event)" [pairs]="competition.pairs"
                             [user]="user"></app-one-round-bracket>
    </mat-tab>
    <mat-tab label="ELMO">
      <app-one-round-bracket [pairs]="competition.pairs" [user]="user"></app-one-round-bracket>
    </mat-tab>
    <mat-tab label="VILTSU">
      <app-one-round-bracket [pairs]="competition.pairs" [user]="user"></app-one-round-bracket>
    </mat-tab>
  </mat-tab-group>
  <div *ngIf="user === null">
    Et ole kirjautunut sisään! Kirjaudu sisään, että pääset muokkaamaan valintoja.
  </div>
</div>
