.main-sidenav-container {
  background: white;
  height: 100%;
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  .route {
    text-align: center;
    padding-top: 5%;
  }
}
