.main-sidenav-container {
  background: white;
  height: 100%;
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  row-gap: 5px;


  .route:first-child {
    margin-top: 5px;
  }

  .route {
    border-radius: 5px;
    border: 1px solid black;
    height: 35px;
    justify-content: center;
    display: flex;
    align-items: center;

  }
}
