<div class="create-group-container">
  <div>
    <div class="group-info-container">
      <mat-form-field appearance="outline" class="example-full-width">
        <mat-label>Ryhmän nimi</mat-label>
        <input autocomplete="off" matInput [(ngModel)]="groupName">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Turnaus</mat-label>
        <mat-select (selectionChange)="tournamentId = $event.value">
          <ng-container *ngIf="availableTournaments$ | async as tournaments">
            <mat-option *ngFor="let tournament of tournaments" [value]="tournament.id">
              {{ tournament.tournamentData.name }}
            </mat-option>
          </ng-container>
        </mat-select>
      </mat-form-field>
    </div>
    <button
      [disabled]="tournamentId === null || groupName === ''"
      class="button clickable create-new-group"
      (click)="createNewGroup()"
      mat-raised-button>
      Luo uusi ryhmä
    </button>
  </div>
</div>
