<div class="create-group-container background-color-container">
  <div class="wrapper">
    <div class="group-info-container">
      <mat-form-field appearance="outline">
        <mat-label>Ryhmän nimi</mat-label>
        <input [(ngModel)]="groupName" autocomplete="off" matInput />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Turnaus</mat-label>
        <mat-select (selectionChange)="tournamentId = $event.value">
          <ng-container *ngIf="availableTournaments$ | async as tournaments">
            <mat-option *ngFor="let tournament of tournaments" [value]="tournament.id">
              {{ tournament.tournamentData.name }}
            </mat-option>
          </ng-container>
        </mat-select>
      </mat-form-field>
    </div>
    <div>
      <button
        (click)="createNewGroup()"
        [disabled]="tournamentId === null || groupName === ''"
        class="button clickable {{ isValid() }} "
        mat-raised-button>
        Luo uusi ryhmä
      </button>
    </div>
    <div>
      <button mat-raised-button class="button clickable secondary-container" [routerLink]="['../']">Takaisin</button>
    </div>
  </div>
</div>
