.main-content-container {
  max-height: calc(100% - 64px);

  .icon{
    font-size: large;
    margin-left: 5px;
  }
  
  .countdown-row{
    display:flex;
    align-items: center;
    justify-content: center;

    
  .countdown-container{
    display:flex;
    margin-left: 20px;
    border: 1px solid;
    height:30px;
    font-size:large;
    justify-content: center;
    align-items: center;
  }
  }

  .group-container {
    margin-top: 100px;
    align-items: center;
    display: flex;
    flex-direction: column;

    div:nth-child(even) {
      background-color: lightgrey;
    }

    .group-title-container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 40px;
      border-bottom: 1px inset black;
      font-size: 15px;
      width: 50%;

      .text-margin {
        margin-left: 5px;
        margin-right: 5px;
      }
    }

    .group-row {
      display: flex;
      justify-content: space-between;
      width: 50%;
      height: 40px;

      .row-box {
        display: flex;
        align-items: center;
        font-size: 20px;
        margin-left: 5px;
        margin-right: 5px;
      }
    }
  }

  .title-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .match-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    .match-row {
      display: flex;
      justify-content: space-between;
      width: 50%;

      .teams {
        display: flex;
        align-items: center;
        width: 33%;
      }
      .match-date {
        display: flex;
        align-items: center;
        width: 33%;
      }
    }
  }

  ::ng-deep.mat-tab-labels {
    justify-content: center;
  }
}

@media only screen and (max-width: 768px) {
  .main-content-container {
    .group-container {
      margin-top: 5px;

      .group-title-container {
        width: 100%;
      }

      .group-row {
        width: 100%;
      }
    }

    .match-container {
      .match-row {
        width: 100%;
      }
    }
  }
}
