<div class="main-content-container">
  <div class="title-container">
    {{ tournament.name }}
  </div>
  <ng-container *ngIf="!hasTournamentStarted()">
    <div class="predictions-container">
      <button class="clickable" mat-raised-button (click)="fillPredictions()">Täytä veikkaukset</button>
      <button class="clickable" mat-raised-button (click)="unlockPredictions()">Avaa veikkaukset</button>
      <button
        *ngIf="!userService.arePredictionsLocked"
        [class.clickable]="!userService.arePredictionsLocked"
        mat-raised-button
        class="lock-button"
        (click)="lockPredictions()"
        [disabled]="arePredictionsIncomplete()">
        Lukitse veikkaukset
      </button>
      <ng-container *ngIf="arePredictionsIncomplete()">
        <mat-icon matTooltip="Täytä kaikki veikkaukset!">info</mat-icon>
      </ng-container>
    </div>
    <mat-divider></mat-divider>
    <div class="countdown-title">Turnaus alkaa:</div>
    <div class="countdown-container">
      <span class="countdown-item">
        <div class="title">Päivät</div>
        <div class="value">{{ days }}</div>
      </span>
      <span class="countdown-item">
        <div class="title">Tunnit</div>
        <div class="value">{{ hours }}</div>
      </span>
      <span class="countdown-item">
        <div class="title">Minuutit</div>
        <div class="value">{{ minutes }}</div>
      </span>
      <span class="countdown-item">
        <div class="title">Sekunnit</div>
        <div class="value">{{ seconds }}</div>
      </span>
    </div>
  </ng-container>
  <mat-tab-group>
    <mat-tab [label]="group.name" *ngFor="let group of tournament.groups">
      <div class="match-container">
        <div *ngFor="let match of group.matches" class="match-row">
          <span class="teams">{{ match.home }} - {{ match.away }} </span>
          <span class="match-date">
            <span class="date">{{ match.date | date: 'dd.MM.yyyy' }}</span> <mat-icon>schedule</mat-icon> <span>{{ match.date | date: 'HH:mm' }}</span>
          </span>
          <span>
            <mat-button-toggle-group (change)="saveResult(match.id, $event.value)"
                                     [disabled]="userService.arePredictionsLocked">
              <mat-button-toggle value="1">1</mat-button-toggle>
              <mat-button-toggle value="X">X</mat-button-toggle>
              <mat-button-toggle value="2">2</mat-button-toggle>
            </mat-button-toggle-group>
          </span>
        </div>
      </div>
      <div class="group-container">
        <div class="group-title-container"><span class="text-margin">Joukkue</span><span
          class="text-margin">Pisteet</span></div>
        <div *ngFor="let team of getGroup(group.name).teams" class="group-row">
          <span class="row-box">{{ team.name }}</span>
          <span class="row-box">{{ team.points }}</span>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
