.title-container {
  margin-top: 5%;
  text-align: center;
  border: 1px solid black;
  margin-left: 5%;
  margin-right: 5%;
}

.main-content-container {
  margin-top: 20px;
  border: 1px solid black;
  height: 800px;
  margin-left: 5%;
  margin-right: 5%;
}
