<div class="main-content-container">
  <div class="title-container">
    <h1>MM-Kisat veikkauskaavio</h1>
  </div>
  <mat-card>
    <div class="bracket-container">
      <div class="column">
        <div class="pair">
          <div class="team clickable">
            Team 1
          </div>
          <div class="team clickable">
            Team 2
          </div>
        </div>
        <div class="pair">
          <div class="team clickable">
            Team 3
          </div>
          <div class="team clickable">
            Team 4
          </div>
        </div>
        <div class="pair">
          <div class="team clickable">
            Team 5
          </div>
          <div class="team clickable">
            Team 6
          </div>
        </div>
        <div class="pair">
          <div class="team clickable">
            Team 7
          </div>
          <div class="team clickable">
            Team 8
          </div>
        </div>
      </div>
      <div class="column">
        <div class="pair">
          <div class="team clickable">
            Winner of match 1
          </div>
          <div class="team clickable">
            Winner of match 2
          </div>
        </div>
        <div class="pair">
          <div class="team clickable">
            Winner of match 3
          </div>
          <div class="team clickable">
            Winner of match 4
          </div>
        </div>
      </div>
      <div class="column">
        <div class="pair">
          <div class="team clickable">
            Winner of match 5
          </div>
          <div class="team clickable">
            Winner of match 6
          </div>
        </div>
      </div>
    </div>
  </mat-card>
</div>
