<div class="main-container">
  <button (click)="authService.signInWithGoogle()" class="google-button" mat-raised-button><img class="google-icon"
                                                                                                src="assets/images/google-icon.png">Login
    with Google
  </button>
  <button (click)="authService.signInWithFacebook()" [innerHTML]="'Login with Facebook'" class="fb-button"
          mat-raised-button></button>
  <button routerLink="/home" class="clickable" mat-raised-button>kotiin</button>
</div>
