<div class="match-container">
  <div *ngFor="let match of matches; let index = index" class="match-row">
    <span class="teams">{{ match.home }} - {{ match.away }} </span>
    <span class="match-date">
      <span class="date">{{ match.date | date: 'dd.MM.yyyy' }}</span> <mat-icon>schedule</mat-icon> <span>{{ match.date | date: 'HH:mm' }}</span>
    </span>
    <span>
      <mat-button-toggle-group (change)="updateResult(match.id, $event.value)" [value]="findResult(match.id)">
        <mat-button-toggle value="1">1</mat-button-toggle>
        <mat-button-toggle value="X">X</mat-button-toggle>
        <mat-button-toggle value="2">2</mat-button-toggle>
      </mat-button-toggle-group>
    </span>
  </div>
  <div class="toolbar-nav">
    <button mat-raised-button class="button clickable" (click)="saveResults()"> Tallenna</button>
    <button mat-raised-button class="button clickable" (click)="emptyResults()"> Nollaa</button>
  </div>
</div>
