<ng-container *ngIf="tournaments !== null">
  <mat-form-field>
    <mat-select>
      <mat-option [value]="tournament.tournamentData.name" (click)="selectTournament(tournament.id)"
                  *ngFor="let tournament of tournaments">{{
        tournament.tournamentData.name
        }}</mat-option>
    </mat-select>
  </mat-form-field>
</ng-container>
<ng-container *ngIf="tournament !== null">
  <div class="match-container">
    <div *ngFor="let match of matches; let index = index" class="match-row">
      <span class="teams">{{ match.home }} - {{ match.away }} </span>
      <span class="match-date">
        <span class="date">{{ match.date | date: 'dd.MM.yyyy' }}</span> <mat-icon>schedule</mat-icon>
        <span>{{ match.date | date: 'HH:mm' }}</span>
      </span>
      <span>
        <mat-button-toggle-group (change)="updateResult(match.id, $event.value)" [value]="findResult(match.id)">
          <mat-button-toggle value="1">1</mat-button-toggle>
          <mat-button-toggle value="X">X</mat-button-toggle>
          <mat-button-toggle value="2">2</mat-button-toggle>
        </mat-button-toggle-group>
      </span>
    </div>
    <div class="toolbar-nav">
      <button mat-raised-button class="button clickable" [routerLink]="['../']">Poistu</button>
      <button mat-raised-button class="button clickable" (click)="emptyResults()">Nollaa</button>
      <button mat-raised-button class="button clickable" (click)="saveResults()">Tallenna</button>
    </div>
  </div>
</ng-container>
