<mat-card [style.background]="player.name !== user.name || arePredictionsLocked ? 'lightgray' : 'white'">
  <button (click)="clearAll()" [disabled]="player.name !== user.name || arePredictionsLocked"
          class="button clickable"
          mat-raised-button>Clear selections
  </button>
  <button (click)="submitSelections()" [disabled]="this.player.name !== this.user.name || this.arePredictionsLocked"
          class="button clickable"
          mat-raised-button>Submit selections
  </button>
  <div [style.pointer-events]="this.player.name !== this.user.name || this.arePredictionsLocked ? 'none' : 'auto'"
       class="NFL-container">
    <div class="AFC-container">
      <div class="nfl-bracket-container afc">
        <div class="column">
          <div *ngFor="let pair of AFCpairs" class="pair">
            <div (click)="selectAFCDivisionals(team, pair)" *ngFor="let team of pair.teams"
                 [class.selected]="isAFCDivisional(team)"
                 class="team clickable">
              {{team!.team}} ({{team!.seed}})
            </div>
          </div>
        </div>
        <div class="column">
          <div *ngFor="let pair of bracketPredictions.nflBracket.AFCdivisionals" class="pair">
            <div (click)="selectAFCchampionships(team, pair)" *ngFor="let team of pair.teams"
                 [class.selected]="isAFCChampionship(team)"
                 class="team clickable">
              {{team!.team}} ({{team!.seed !== 0 ? team!.seed : ''}})
            </div>
          </div>
        </div>
        <div class="column">
          <div class="pair">
            <div (click)="bracketPredictions.nflBracket.superbowlists[0] = team"
                 *ngFor="let team of bracketPredictions.nflBracket.AFCchampionship.teams"
                 [class.selected]="isSuperbowlist(team)"
                 class="team clickable">
              {{team!.team}} ({{team!.seed !== 0 ? team!.seed : ''}})
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="superbowl-container">
      <div class="nfl-bracket-container">
        <div class="column">
          <div class="pair">
            <div (click)="selectWinner(team)" *ngFor="let team of bracketPredictions.nflBracket.superbowlists"
                 [class.selected]="isWinner(team)"
                 class="team clickable">
              {{team!.team}} ({{team!.seed !== 0 ? team!.seed : ''}})
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="NFC-container">
      <div class="nfl-bracket-container nfc">
        <div class="column">
          <div *ngFor="let pair of NFCpairs" class="pair">
            <div (click)="selectNFCDivisionals(team, pair)" *ngFor="let team of pair.teams"
                 [class.selected]="isNFCDivisional(team)"
                 class="team clickable">
              {{team!.team}} ({{team!.seed}})
            </div>
          </div>
        </div>
        <div class="column">
          <div *ngFor="let pair of bracketPredictions.nflBracket.NFCdivisionals" class="pair">
            <div (click)="selectNFCchampionships(team, pair)" *ngFor="let team of pair.teams"
                 [class.selected]="isNFCChampionship(team)"
                 class="team clickable">
              {{team!.team}} ({{team!.seed !== 0 ? team!.seed : ''}})
            </div>
          </div>
        </div>
        <div class="column">
          <div class="pair">
            <div (click)="bracketPredictions.nflBracket.superbowlists[1] = team"
                 *ngFor="let team of bracketPredictions.nflBracket.NFCchampionship.teams"
                 [class.selected]="isSuperbowlist(team)"
                 class="team clickable">
              {{team!.team}} ({{team!.seed !== 0 ? team!.seed : ''}})
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</mat-card>

