/* You can add global styles to this file, and also import other style files */
@use './src/colors' as *;

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.clickable:hover {
  cursor: pointer;
  opacity: 75%;
}

.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.primary-container {
  background-color: $primary-color !important;
  color: white;
}

.secondary-container {
  background-color: $secondary-color !important;
  color: white;
}

.tertiary-container {
  background-color: $tertiary-color !important;
  color: black;
}
