<!-- <button (click)= "userService.createUsers()">höps </button>-->
<div *ngIf="user !== null" class="main-content">
  <div class="title">
    Tervetuloa kisaveikkauksien pyhättöön {{user.name}}!
  </div>
  <mat-card class="current-results">
    Tämän hetken tilanne:
    <div class="list">
      <mat-divider></mat-divider>
      <li *ngFor="let player of realPlayers" [class.logged-user]="user?.name === player.name"
          class="list-item">{{player.name}}
        <span>{{player.points}} pistettä
        </span>
      </li>
    </div>
  </mat-card>
  <mat-card class="current-results">
    Tulevat kilpailut:
    <div class="list">
      <mat-divider></mat-divider>
      <li *ngFor="let tournament of tournaments" class="list-item">
        <a [href]="tournament.url" class="tournament" target="_blank">{{tournament.name}}</a>
        <span>{{tournament.dates}}</span>
      </li>
    </div>
  </mat-card>
</div>
