<mat-toolbar class="toolbar">
  <button aria-label="Example icon-button with menu icon" class="example-icon" mat-icon-button>
    <mat-icon>menu</mat-icon>
  </button>
  <div class="title">Kisaveikkaukset</div>
  <button aria-label="Example icon-button with menu icon" class="example-icon" mat-icon-button>
    <mat-icon>settings</mat-icon>
  </button>
</mat-toolbar>
<div class="main-content">
  <div class="title">
    Tervetuloa kisaveikkauksien pyhättöön!
  </div>
  <mat-card class="current-results">
    Tämän hetken tilanne:
    <div class="list">
      <mat-divider></mat-divider>
      <li class="list-item">Viltsu <span class="list-item-score">18p</span></li>
      <li class="list-item">Elmo <span class="list-item-score">16p</span></li>
      <li class="list-item">Aapo <span class="list-item-score">14p</span></li>
      <li class="list-item">Osku <span class="list-item-score">13p</span></li>
      <li class="list-item">Em <span class="list-item-score">9p</span></li>
    </div>
  </mat-card>
  <mat-card class="current-results">
    Tulevat kilpailut:
    <div class="list">
      <mat-divider></mat-divider>
      <li class="list-item"><a href="https://www.suomikiekko.com/u20-mm-kisat-2022/" target="_blank">Nuorten MM-kisat
        (jääkiekko)</a><span class="list-item-score">26.12.2021 - 3.1.2022</span></li>
      <li class="list-item"><a href="https://www.suomikiekko.com/talviolympialaiset-jaakiekko-2022/" target="_blank">Olympialaiset
        (jääkiekko)</a><span class="list-item-score">Helmikuu 2022</span></li>
      <li class="list-item"><a
        href="https://www.uefa.com/uefachampionsleague/news/0265-115e77805e06-3dbc1740a323-1000--2021-22-champions-league/"
        target="_blank">Champions League playoffs (jalkapallo)</a><span class="list-item-score">Helmikuu 2022</span>
      </li>
      <li class="list-item"><a href="https://www.iihf.com/fi/events/2022/wm" target="_blank">MM-kisat
        (jääkiekko)</a><span class="list-item-score">Toukokuu 2022</span></li>
      <li class="list-item"><a
        href="https://www.google.fi/maps/place/Koikeroisentie,+34150+Yl%C3%B6j%C3%A4rvi/@61.7239113,23.53084,17z/data=!3m1!4b1!4m5!3m4!1s0x468f2d9ee21bac05:0x97ae69bf97d8414b!8m2!3d61.7239088!4d23.5330287"
        target="_blank">Mökkiolympialaiset</a><span class="list-item-score">Heinäkuu 2022</span></li>
    </div>
  </mat-card>
</div>

