<div class="main-sidenav-container">
  <div class="route clickable" (click)="closeSidenav.emit()" routerLink="/home">Aloitussivu</div>
  <div class="route clickable" (click)="closeSidenav.emit()" routerLink="/MM-kisat-2022">Jalkapallon MM-kisat</div>
  <div class="route clickable" (click)="closeSidenav.emit()" routerLink="/create-group">Luo ryhmä</div>
  <div *ngIf="isAdmin()" class="route clickable" (click)="closeSidenav.emit()" routerLink="/admin-view">Admin paneeli
  </div>
  <div class="route clickable" (click)="closeSidenav.emit()" routerLink="/information">info</div>
</div>
