<div class="main-sidenav-container">
  <div [routerLink]="['./']" (click)="closeSidenav.emit()" class="route clickable">Aloitussivu</div>
  <div [routerLink]="['./', router.url.split('/')[2]]" (click)="closeSidenav.emit()" class="route clickable">
    Ryhmän etusivu
  </div>
  <div
    [routerLink]="['./', router.url.split('/')[2], 'tournament']"
    (click)="closeSidenav.emit()"
    class="route clickable">
    Veikkaukset
  </div>
  <div
    [routerLink]="['./', router.url.split('/')[2], 'information']"
    (click)="closeSidenav.emit()"
    class="route clickable">
    Informaatio
  </div>
</div>
