
.main-sidenav-container {
  background: white;
  height: 100%;
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  row-gap: 5px;

  .route:first-child {
    margin-top: 5px;
  }

  .route {
    height: 35px;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 10px;
    justify-content: center;
    display: flex;
    align-items: center;
  }
}
