.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;


  .google-button, .fb-button {
    padding: 2px;
    width: 250px;
    margin-bottom: 10px;

    &:hover {
      box-shadow: 1px 1px 4px #0a0a0a;
    }
  }

  .google-icon {
    width: 30px;
    height: 30px;
    margin-right: 2px;
  }
}


