.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  row-gap: 10px;

  .log-in-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    width: 150px;

    .image {
      height: 24px;
      width: 24px;
    }
  }
}
